<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <style>
      #map { height: 400px; }
  </style>
    <title>User map</title>
</head>
<body onload="showMarkers()">

  <div id="map"></div>
  <script type="text/javascript">
  
    var mapDiv = document.getElementById('map');
    //init a map
    var map = L.map(mapDiv).setView([51.5074, -0.1278], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    }).addTo(map);

    // Create a form popup
    var popup = L.popup();
    
    //onclick event handler function
    map.on('dblclick', function (e) {
      var lat = e.latlng.lat;
      var lon = e.latlng.lng;
      var popupText = 'Clicked location: Lat: ' + lat + ', Lon: ' + lon;
      popup
      .setLatLng(e.latlng)
      .setContent(`<form method="POST" action = "{{ url_for ('web.create_new_marker')}}"> 
        <span>Clicked location: Lat: ${lat}, Lon: ${lon}</span>
        <input type="text" name="title" id="title" placeholder="Name of the location"value="{{ request.form['title'] }}" ></input>
        <input type="text" name="text" id="text" placeholder="Description" value="{{ request.form['text']}}"> </input>
        <input type="hidden" id="lat" name="lat" value="${lat}">
        <input type="hidden" id="lon" name="lon" value="${lon}">
        <button type="submit">Create new marker</button>
        </form>`)
      .openOn(map);
    })  


    
    function showMarkers() {
      
      $.get('/usermarkers', (markers) => {
        var markersData = JSON.parse(markers)
        for (let i = 0; i<markersData.length; i++) {
           console.log(markersData[i].id)
           const title = markersData[i].title
           const text = markersData[i].text
           marker=L.marker([parseFloat(markersData[i].latitude), parseFloat(markersData[i].longitude)]).addTo(map)
          .bindPopup(`${title}, ${text} <button onclick="deleteMarker(${markersData[i].id})">Delete Marker</button> 
          <button onclick="edit(${markersData[i].id})">Edit</buton>`)

        } 
      }) 
    } 

    function deleteMarker(marker_id) {
      $.get('/delete/' + marker_id , {
      }, (data) => {
        if (data=="True") {
          alert('Deleted')
          window.location.reload()
        } else {
          alert('Cannot delete, sorry')
          window.location.reload()
        }
      })
    }  

    function edit(marker_id) {

    }


  
</script> 


<div class="dropdown">
  <select id="selectRegion" onchange="SelectRegion()">
  <div id="myDropdown" class="dropdown-content">
    <option value="Bac Giang">Bac Giang City</option>
    <option value="Ha Noi">Hanoi City</option>
  </div>
</div>

    
</body> 


</html>